{% extends 'montemplate.html.twig' %}


{% block contenu %}

	<h1><center>{{stage.titre}}</center></h1>
	<BR>
	<BR>

		<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<dl>
						<dt>
							Description du stage
						</dt>
						<dd>
							{{stage.description}}
						</dd>
						<dt>
							Formation concernés
						</dt>
						<dd>
							{% for formation in stage.formations %}

								{{formation.nomCourt}} ({{formation.nomLong}})<BR>
								
							{% endfor %}
						</dd>
						<dt>
							Email de contact (si intéréssé par l'offre)
						</dt>
						<dd>
							{{stage.email}}
						</dd>
					</dl>
				</div>
				<div class="col-md-6">
					<div class="card text-white bg-info">
						<h5 class="card-header">
							Entreprise {{stage.entreprise.nom}}
						</h5>
						<div class="card-body">
							<p class="card-text">
								{{stage.entreprise.activite}}
							</p>
						</div>
						<div class="card-footer">
							{{stage.entreprise.adresse}}<BR>
							{{stage.entreprise.email}}<BR>
							{{stage.entreprise.siteweb}}
						</div>
					</div>
				</div>

			</div>
			</BR>
			</BR>
		</div>
	</div>


{% endblock %}